<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>About Blog</title>
    <style>
      .blog-cover {
        max-height: 300px;
        object-fit: scale-down;
      }

      .profile-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      .blogBody{
        max-height: 50vh;
        overflow-y: scroll;
      }

      .comment {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    </style>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <!-- <pre><%= JSON.stringify(blog, null, 2) %></pre> -->
    <!-- <pre><%= JSON.stringify(comments, null, 2) %></pre> -->
    
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <img
              src="<%= blog.coverImageUrl %>"
              class="card-img-top blog-cover"
              alt="Cover Image"
            />
            <div class="card-body">
              <h3 class="card-title"><%= blog.title %></h3>
              <pre class="card-text blogBody"><%= blog.body %></pre>
              <hr />
              <div class="d-flex align-items-center">
                <img
                  src="<%= blog.createdBy.profileImageURL %>"
                  class="profile-image mr-3"
                  alt="Creator Image"
                />
                <div>
                  <h5>Created by: <%= blog.createdBy.fullName %></h5>
                  <h6>Contact Details: <%= blog.createdBy.email %></h6>
                  <p>
                    Created at: <%= new Date(blog.createdAt).toLocaleString() %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Comments (<%= comments.length %>)</h5>
          <% comments.forEach(comment => { %>
            <div class="comment">
              <p><strong><%= comment.createdBy.fullName %>: </strong> <%= comment.comment %></p>
              <p><small><%= new Date(comment.createdAt).toLocaleString() %></small></p>
            </div>
          <% }) %>
        </div>
      </div>


      <% if (locals.user) { %>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Add a Comment</h5>
          <form action="/blog/comment/<%= blog._id %>" method="POST">

            <div class="form-group">
              <label for="commentContent">Comment</label>
              <textarea
                class="form-control"
                id="commentContent"
                name="commentContent"
                rows="3"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
